<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neo.ticketingapp">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.passenger.PassengerLog" />
        <activity android:name=".ui.passenger.PassengerTripDetail" />
        <activity android:name=".ui.inspector.InspectorJourney" />
        <activity android:name=".ui.inspector.InspectorHome" />
        <activity android:name=".ui.inspector.InspectorOnGoingJourney" />
        <activity android:name=".ui.passenger.PassengerJourneyActivity" />
        <activity android:name=".ui.passenger.PassengerOnGoingJourneyActivity" />
        <activity android:name=".ui.passenger.PassengerProfileActivity" />
        <activity android:name=".ui.passenger.PassengerAccountActivity" />
        <activity android:name=".ui.passenger.PassengerHome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />


</manifest>